@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    background-color: #EDEBD7;
    font-family: 'Poppins', sans-serif;
}
.centrarLogo{
    margin: -40px auto;
    display: block;
    width: 500px;
    height: 250px;
}

/*Estilos del menu*/
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: -30px auto 3px;
    list-style: none;
}
.menu li{
    width: 125px;
    height: 50px;
    text-align: center;
}
.menu li a{
    padding: 10px;
    font-size: 18px;
    color: #4a2a2d;
    text-decoration: none;
}
.menu li a:hover{
    color: #C48321;
    text-decoration: underline;
}

/*Nosotros*/
.nosotros{
  color: #4A2A2D;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 30px 70px 30px;
  text-align: justify;
}
.nosotros img{
  margin: 0px 0px 0px 40px;
  border-radius: 10px;
  height: 500px;
}
  
/*Banner*/
.banner{
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 5px;
  }

/*Cards de los productos*/
.listcontainer{
 
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  
}
.food-card{
  position: relative;
  margin: 30px;
  background-color: #B6752E;
  width: 250px;
  height: 350px;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 14px 18px 48px -7px #4d4d4dbe;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
}
.item-image{
  background-color: #B6752E;
}
.item-image img{
  height: 220px;
  background-color: #B6752E;
  display: block;
  margin: auto;
}

.item-name{
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5px;
  background-color: #B6752E;
  color: #EDEBD7;
}

section h1{
  color: #4A2A2D;
  text-align: center;
  margin: 100px 10px 20px;
  font-weight: bold;
}
.boton{
  position: absolute;
  margin: auto;
  width: 60%;
  top: 80%;
  left: 20%;
  background-color: #4A2A2D;
  color: #EDEBD7;
  padding: 15px 32px;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.boton:hover{
  background-color: #EDEBD7;
  color: #4A2A2D;
  border: 1px solid #4A2A2D;
}

/*Personalizar*/
.formulario-personalizar{
  border: 1.5px solid #4A2A2D;
  border-radius: 25px;
  margin: 5px 40px 30px;
  padding: 10px 30px 50px;
}
.personalizado{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background-color: #EDEBD7;
}
.personalizado table{
  width: 350px;
  padding: 30px;
  border: 1px dotted #4A2A2D;
  color: #4A2A2D;
  border-radius: 15px;
  margin: 20px;
}
.formulario-personalizar h3{
  color: #4A2A2D;
  text-align: center;
  margin: 10px auto 30px;
}
.descripcion{
  color: #4A2A2D;
  display: flex;
  justify-content: center;
  text-align: center;
}
.descripcion textarea{
  padding: 5px;
  border-radius: 8px;
}
.botonFormulario{
  position: relative;
  margin-bottom: 50px;
}
.datosPersonales{
  color: #4A2A2D;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  border-radius: 20px;
  border: 1px dotted #4A2A2D;
  padding: 20px;  
}
.datosPersonales input{
  width: 450px;
  height: 25px;
  padding: 5px;
  border-radius: 10px;
}



/*Pastelero*/
.tabs{
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}
.tabs label{
  order: 1;/*Poner las etiquetas primero*/
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #EDEBD7;
  font-weight: bold;
  transition: background ease 0.2s;
  border-radius: 0.5rem;
  color: #4A2A2D;
}
.tabs .tab{
  order: 99;/*Poner a los tabs al final*/
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background-color: #EDEBD7;
}
.tabs input[type="radio"]{
  display: none;
}
.tabs input[type="radio"]:checked + label{
  background: #C48321;
  color: #EDEBD7;
}
.tabs input[type="radio"]:checked + label + .tab{
  display: block;
}

.tab table{
  border: 1px dotted #4A2A2D;
  width: 100%;
  text-align: center;
  color: #4A2A2D;
  padding: 20px;
  border-radius: 20px;

}
.tab th{
  padding: 10px;
  background-color: #4a2a2dd5;
  color: #EDEBD7;
}
.tab td{
  background-color: #b6742e28;
  padding: 20px 10px;
}
.tab.inventario{
  width: 30%;
}

/*Estilos footer*/
.footer {
  padding: 15px 0;
  background-color: #4a2a2d;
}
.footer .social {
  background-color: #4a2a2d;
  text-align: center;
  padding-bottom: 20px;
  color: #4a2a2d;
}
.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #EDEBD7;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .social a:hover {
  opacity: 0.9;
}
.footer .copyright {
  background-color: #4a2a2d;
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #EDEBD7;
}